
<h1 style="color:red">ME COMPONENT LOADED</h1>

<div class="me-layout">

 <div class="container-fluid mt-3">
  <div class="me-menu">
    <h4>Me</h4>

    <ul>
      <li><a routerLink="attendance" routerLinkActive="active">Attendance</a></li>
      <li><a routerLink="leaves" routerLinkActive="active">Employee Leaves</a></li>
      <li><a routerLink="performance" routerLinkActive="active">Performance</a></li>
      <li><a routerLink="expenses" routerLinkActive="active">Expenses</a></li>
      <li><a routerLink="apps" routerLinkActive="active">Apps</a></li>
      <li><a routerLink="assets" routerLinkActive="active">Assets</a></li>
      <li><a routerLink="myLetters'" routerLinkActive="active">My Letters</a></li>
      <li><a routerLink="Resignation" routerLinkActive="active">Resignation</a></li>
    </ul>
  </div>
</div>
  
  <div class="me-content">
    <router-outlet></router-outlet>
  </div>

</div>
<!-- <router-outlet></router-outlet> -->
